.buttonTrans{
    background-color: transparent !important;
}
.buttonTrans:hover, .buttonTrans:active{
    background-color: transparent !important;
}
.MuiButton-label{
    font-family:Arial, Helvetica, sans-serif !important;
    color:#6c757d !important;
}
.MuiButton-root{
    min-width: max-content  !important;
    text-transform: none !important;
}
.buttonTrends_head{
    
    width: 700px;
    font-family:Arial, Helvetica, sans-serif !important;
    overflow-x:scroll !important;
    background-color: #fff !important;
    padding-top: 10px;
    border:1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 8px;
  }
  .border-20{
      border-radius: 20px;
  }